## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","SPECIAL_CONSIDERATIONS"])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
STATUS                  2
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df["APPLICATION_TYPE"].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_val = 700
application_types_to_replace=list((app_type.loc[app_type<cutoff_val]).index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification = application_df["CLASSIFICATION"].value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_val = classification[classification>1]
classification_val

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_val = 1883
classifications_to_replace = list((classification.loc[classification<cutoff_val]).index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
name = application_df['NAME'].value_counts()
name[:10]

PARENT BOOSTER USA INC                               1260
TOPS CLUB INC                                         765
UNITED STATES BOWLING CONGRESS INC                    700
WASHINGTON STATE UNIVERSITY                           492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC       408
PTA TEXAS CONGRESS                                    368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC         331
ALPHA PHI SIGMA                                       313
TOASTMASTERS INTERNATIONAL                            293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS     287
Name: NAME, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `names_to_replace`
cutoff_val = 287

names_to_replace = name[name < cutoff_val].index

# Iterate through the names to replace and replace them with "Other" in the main DataFrame
for n in names_to_replace:
    application_df.loc[application_df['NAME'] == n, 'NAME'] = "Other"

# Recalculate the value counts after replacements
application_df['NAME'].value_counts()

Other                                                29082
PARENT BOOSTER USA INC                                1260
TOPS CLUB INC                                          765
UNITED STATES BOWLING CONGRESS INC                     700
WASHINGTON STATE UNIVERSITY                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC        408
PTA TEXAS CONGRESS                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC          331
ALPHA PHI SIGMA                                        313
TOASTMASTERS INTERNATIONAL                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS      287
Name: NAME, dtype: int64

In [11]:
application_df["STATUS"].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [12]:
application_df = application_df[application_df["STATUS"]==1]
application_df["STATUS"].value_counts()

1    34294
Name: STATUS, dtype: int64

In [13]:
application_df = application_df.drop(columns=["STATUS"])
application_df.shape

(34294, 9)

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOASTMASTERS INTERNATIONAL,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [15]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop(columns=["IS_SUCCESSFUL"], axis=1)
y = application_dummies["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=72)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                510

 dense_1 (Dense)             (None, 8)                 88

 dense_2 (Dense)             (None, 6)                 54

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 659
Trainable params: 659
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=30)

Epoch 1/30

2023-11-03 19:58:27.670430: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

804/804 [==============================] - 1s 426us/step - loss: 0.6070 - accuracy: 0.6871
Epoch 2/30
804/804 [==============================] - 0s 419us/step - loss: 0.5327 - accuracy: 0.7428
Epoch 3/30
804/804 [==============================] - 0s 409us/step - loss: 0.5248 - accuracy: 0.7475
Epoch 4/30
804/804 [==============================] - 0s 406us/step - loss: 0.5216 - accuracy: 0.7488
Epoch 5/30
804/804 [==============================] - 0s 410us/step - loss: 0.5198 - accuracy: 0.7492
Epoch 6/30
804/804 [==============================] - 0s 407us/step - loss: 0.5187 - accuracy: 0.7502
Epoch 7/30
804/804 [==============================] - 0s 405us/step - loss: 0.5152 - accuracy: 0.7506
Epoch 8/30
804/804 [==============================] - 0s 406us/step - loss: 0.5131 - accuracy: 0.7516
Epoch 9/30
804/804 [==============================] - 0s 406us/step - loss: 0.5122 - accuracy: 0.7505
Epoch 10/30
804/804 [==============================] - 0s 406us/step - loss: 0.5113 - accuracy: 0.7520
Epoch 11/30
804/804 [==============================] - 0s 404us/step - loss: 0.5109 - accuracy: 0.7514
Epoch 12/30
804/804 [==============================] - 0s 405us/step - loss: 0.5105 - accuracy: 0.7514
Epoch 13/30
804/804 [==============================] - 0s 407us/step - loss: 0.5100 - accuracy: 0.7519
Epoch 14/30
804/804 [==============================] - 0s 405us/step - loss: 0.5099 - accuracy: 0.7533
Epoch 15/30
804/804 [==============================] - 0s 406us/step - loss: 0.5092 - accuracy: 0.7531
Epoch 16/30
804/804 [==============================] - 0s 404us/step - loss: 0.5092 - accuracy: 0.7521
Epoch 17/30
804/804 [==============================] - 0s 404us/step - loss: 0.5086 - accuracy: 0.7533
Epoch 18/30
804/804 [==============================] - 0s 410us/step - loss: 0.5086 - accuracy: 0.7531
Epoch 19/30
804/804 [==============================] - 0s 413us/step - loss: 0.5084 - accuracy: 0.7519
Epoch 20/30
804/804 [==============================] - 0s 450us/step - loss: 0.5077 - accuracy: 0.7522
Epoch 21/30
804/804 [==============================] - 0s 413us/step - loss: 0.5080 - accuracy: 0.7526
Epoch 22/30
804/804 [==============================] - 0s 406us/step - loss: 0.5076 - accuracy: 0.7521
Epoch 23/30
804/804 [==============================] - 0s 407us/step - loss: 0.5075 - accuracy: 0.7530
Epoch 24/30
804/804 [==============================] - 0s 409us/step - loss: 0.5074 - accuracy: 0.7524
Epoch 25/30
804/804 [==============================] - 0s 407us/step - loss: 0.5069 - accuracy: 0.7539
Epoch 26/30
804/804 [==============================] - 0s 405us/step - loss: 0.5070 - accuracy: 0.7522
Epoch 27/30
804/804 [==============================] - 0s 405us/step - loss: 0.5066 - accuracy: 0.7537
Epoch 28/30
804/804 [==============================] - 0s 405us/step - loss: 0.5067 - accuracy: 0.7527
Epoch 29/30
804/804 [==============================] - 0s 405us/step - loss: 0.5062 - accuracy: 0.7525
Epoch 30/30
804/804 [==============================] - 0s 402us/step - loss: 0.5061 - accuracy: 0.7528

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5103 - accuracy: 0.7522 - 140ms/epoch - 521us/step
Loss: 0.5102779269218445, Accuracy: 0.7521576881408691

In [21]:
# Export our model to HDF5 file
filepath = "H5_Files/AlphabetSoupCharity_Optimization.h5"

nn.save(filepath)